
/* BARRA DE MENU Y ENCABEZADO */
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Russo+One&display=swap');


:root {
    --color_primario: #FFFFFF;
    --color_primario_suave: #FFFFFF;
    --color_blanco: #FFFFFF;
    --altura_header: 80px;
    --padding_left_right: 2rem;
    --ancho_maximo: 1200px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
}

.navbar a{
    color: #333;
    font-size: 1.1vw;
    transition: color 0.2s ease, font-size 2s ease; /* Transición para el color del texto y el tamaño de la fuente */
    border-bottom: 3px solid transparent; /* Línea transparente inicial */
    transition: border-bottom 0.5s ease; /* Transición suave */
    text-transform: uppercase;
    border-bottom: 0.1px solid transparent; /* Línea transparente inicial */
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-decoration: none;
}

@media screen and (max-width: 900px) {
    .navbar a {
        font-size: 1.2em;
    }
}

.navbar a:hover {
    color: #25b320; /* Cambiar el color del texto al pasar el cursor sobre el enlace */
    font-size: 1.3em; /* Aumentar el tamaño de la fuente al pasar el cursor sobre el enlace */
    border-bottom: 3px solid #25b320; /* Línea negra al pasar el cursor */
    font-weight: bold;
}


ol,ul{
    list-style: none;
    z-index: 9999;
}

.header {
    height: var(--altura_header);
    background-color: var(--color_primario);
    border: 1px solid rgb(255, 255, 255);
    z-index: 999;
}

.navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 var(--padding_left_right);
}

.menu_hamburguesa{
    display: none;
}

.menu_hamburguesa:checked + .ul_links {
    height: calc(100vh - var(--altura_header));
}

.labe_hamburguesa svg{
    cursor: pointer;

}

.ul_links {
    width: 100%;
    background-color: var(--color_primario_suave);
    position: absolute;
    top: var(--altura_header);
    left: 0;
    height: 0;
    overflow: hidden;
    /* height: calc(100vh - var(--altura_header)); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}



.link {
    font-size: 3em;
    color: var(--color_blanco);
    font-weight: bold;
}

.navbar img{
    max-width: 25vh; /* Establecemos el ancho máximo del logo */
    height: 7vh; /* La altura se ajustará automáticamente para mantener la proporción */
    margin-top: 0px;
}

@media screen and (max-width: 330px) {
    .navbar img {
        max-width: 20vh; /* Tamaño de fuente para pantallas más pequeñas */
    }
}


@media (min-width: 910px){
    .labe_hamburguesa {
        display: none;
    }
    .ul_links{
        position: static;
        width: auto;
        height: auto;
        flex-direction: row;
        gap: 2rem;
    }
    .link{
        font-size: 1.2rem;
        transition: all .3s;
        padding: .2rem .7rem;
    }
    .link:hover{
        background-color: #5f1192;
    }
}

/* BARRA DE MENU Y ENCABEZADO */


/* PORTADA */
.portada-cursos {
    position: relative;
    width: 100%;
    height: 20vh;
}

.slider_caja {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #37944b;
}

.texto {
    text-align: center;
    color: white;
}

.texto h2 {
    font-size: 4vw; /* Tamaño de fuente responsivo */
    text-transform: uppercase;
}

.texto p {
    font-size: 2vw; /* Tamaño de fuente responsivo */
}



@media screen and (max-width: 700px) {
    .texto h2 {
        font-size: 5vw;
    }
}



@media screen and (max-width: 700px) {
    .texto {
        top: 50%;
    }
}


@media screen and (max-width: 500px) {
    .texto h2 {
        font-size: 7vw;
    }
}



@media screen and (max-width: 500px) {
    .texto {
        top: 45%;
    }
}
/* PORTADA */



/* INFORMACIÓN DEL CURSO */
.descripcion-curso {
    display: flex;
    padding: 0em;
}

.columna-izquierda {
    width: 70%;
    padding: 3em 5em 3em 5em;
    background-color: white;
    order: 1;
    text-align: justify;
}

.descripcion-curso img{
    width: 80%; /* Ajusta el tamaño de la imagen */
    max-width: 100%; /* Ajusta el tamaño máximo de la imagen al contenedor */
    max-height: 100%; /* Ajusta la altura máxima de la imagen al contenedor */
    display: block; /* Para asegurar que la imagen se muestre como un bloque */
    margin: auto; /* Centra horizontalmente */
    padding: 0em;
    transition: transform 0.3s ease; /* Agrega una transición suave */
}

.descripcion-curso img:hover {
    transform: scale(1.1); /* Aumenta ligeramente el tamaño de la imagen al pasar el cursor sobre ella */
}

.contenedor-docente img{
    display: block;
    width: 40%;
    height: 150px;
    border-radius: 7%;
    margin: 15px;
}

.descripcion-docente img{
    display: inline-block;
    width: 45px;
    height: 25px;
    border-radius: 0;
    margin: 0px 0px 0px 0px;
}

.contenedor-docente {
    display: flex;
    align-items: center; /* Centrar verticalmente los elementos */
    text-align: justify;
}

.nombre-docente {
    display: flex;
    align-items: center; /* Centrar verticalmente el texto */
    text-align: justify;
}

.nombre-docente img {
    margin-right: 10px; /* Ajustar el espacio entre la bandera y el texto */
}

.columna-derecha {
    width: 30%;
    height: 63%;
    padding: 1em 1em 1em 1em;
    margin: 1em 1em 1em 1em;
    border-radius: 17px;
    text-align: center;
    box-shadow: 0 1px 17px #b7b4b4; /* Añade una sombra */
    background-color: #e9e9e9;
    order: 1;
    top: 0px;
    flex-grow: 2;
    right: 50px;
    position: sticky;
}


.contenedor-docente {
    display: flex;
    text-align: justify;
}

.descripcion-docente h4 {
    margin: 0px 0px 0px 14px;
}

.temario {
    list-style: none;
    margin-right: 4em;
    text-align: left;
}

.temario li {
    margin-bottom: 5px;
    text-align: justify;
}

.temario h4 {
    cursor: pointer;
}

.subtemas {
    display: none;
}

.informacion-complementaria ul {
    list-style: none;
    padding: 0;
}

.informacion-complementaria li {
    margin-bottom: 10px;
}

.columna-izquierda h3{
    display: inline-block;
    border-radius: 10px;
    padding: 0.1em 1em 0.1em 1em;
    background-color: #000;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.columna-derecha h3{
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #333;
    font-weight: 1000;
    text-align: center;
    font-size: 1.5em;
}

.columna-izquierda p{
    display: inline-block;
    color: #333;
    font-family: "Montserrat", sans-serif;
    padding: 0em 1.5em 0em 1.5em;

}

.oferta p{
    display: inline-block;
    padding: 12px;
    line-height: 2em;
}

.precio p{
    color: #333;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
}

.oferta .precio_dolares{
    color: #37944b;
    font-weight: 900;
    font-size: 1.3em;
}

.oferta .descuento{
    background-color: #37944b;
    border-radius: 10px;
    color: white;
    font-weight: 900;
    font-size: 1.2em;
    padding: 0px 10px 0px 10px;
}

.tema{
    background-color: #91909026;
    border-radius: 7px;
    padding: 0.6em;
    font-weight: 600;
    cursor: pointer;
}

.tem li{
    padding: 0.7em 0 0 2em;
    line-height: 1.1em;
}
.botones{
    padding: 0px 50px 0px 50px;
}

.boton-comprar,
.boton-carrito {
    display: block;
    text-decoration: none; /* Elimina el subrayado */
    margin-bottom: 10px; /* Espacio entre los botones */
    background-color: #23447a;
    color: white;
    font-family: "Montserrat", sans-serif;
    transition: transform 0.3s ease-in-out; /* Efecto de transición al agrandar */
    padding: 17px 0px 17px 0px;
    font-weight: 750;
}

.boton-comprar:hover,
.boton-carrito:hover {
    transform: scale(1.15); /* Aumenta el tamaño al pasar el cursor */
    box-shadow: 0 2px 20px #4682B4; /* Efecto de sombra */
}

.informacion-complementaria li{
    display: flex;
    padding: 0px 0px 0px 30px;
    line-height: 14px;
}

.informacion-complementaria i{
    color: #448c34;
    line-height: 14px;
}


.preguntas {
    margin: auto; /* Centra horizontalmente */
    width: 70%; /* Ancho del contenido */
}

.preg p{
    padding-left: 2em;
    padding-right: 2em;
    text-align: justify;
}


/* Media query para ocultar la lista en pantallas más pequeñas */
@media (max-width: 1189px) {
    .informacion-complementaria{
        display: ; /* Oculta la lista en pantallas más pequeñas */
    }
}

/* Media query para reducir el tamaño en pantallas más pequeñas */
@media (max-width: 1189px) {
    .columna-derecha {
        font-size: 1.1vw; /* Reducir el tamaño de la fuente */
        padding: 10px; /* Reducir el relleno alrededor del contenido */
        width: 24%;
    }
}

@media (max-width: 1189px) {
    .columna-izquierda {
        font-size: 1.1vw; /* Reducir el tamaño de la fuente */
        padding: 50px; /* Reducir el relleno alrededor del contenido */
    }
}

@media (max-width: 1189px) {
    .preguntas {
        font-size: 1.1vw; /* Reducir el tamaño de la fuente */
    }
}

@media (max-width: 600px) {
    .preguntas {
        font-size: 2.5vw; /* Reducir el tamaño de la fuente */
    }
}

@media (max-width: 400px) {
    .preguntas {
        font-size: 3vw; /* Reducir el tamaño de la fuente */
    }
}


@media (max-width: 700px) {
    .botones{
        padding: 0px 20px 0px 20px;        /* Oculta la lista en pantallas más pequeñas */
    }
}

/* Media query para pantallas con un ancho máximo de 600px */
@media (max-width: 600px) {
    .descripcion-curso {
        flex-direction: column; /* Cambia la dirección de la disposición a vertical */
    }

    .columna-izquierda {
        order: 1; /* Cambia el orden a 1 (arriba) */
    }

    .columna-derecha {
        order: 2; /* Cambia el orden a 2 (abajo) */
        flex-grow: 1; /* Restablece el ancho a igual que la izquierda */
        left: 9em;
        bottom: 0em;
        top: -3em;
        position: relative;
        width: 50%;
        font-size: 2.5vw;
    }
}

@media (max-width: 600px) {
    .columna-izquierda {
        order: ; /* Cambia el orden a 2 (abajo) */
        flex-grow: 1; /* Restablece el ancho a igual que la izquierda */
        left: 0em;
        bottom: 0em;
        top: 0em;
        position: relative;
        width: 100%;
        font-size: 2.5vw;
    }
}

@media (max-width: 400px) {
    .descripcion-curso {
        flex-direction: column; /* Cambia la dirección de la disposición a vertical */
    }

    .columna-izquierda {
        order: 1; /* Cambia el orden a 1 (arriba) */
    }

    .columna-derecha {
        order: 2; /* Cambia el orden a 2 (abajo) */
        flex-grow: 1; /* Restablece el ancho a igual que la izquierda */
        left: 2em;
        bottom: 0em;
        top: -3em;
        position: relative;
        width: 80%;
        font-size: 4vw;
    }
}

@media (max-width: 400px) {
    .columna-izquierda {
        order: ; /* Cambia el orden a 2 (abajo) */
        flex-grow: 1; /* Restablece el ancho a igual que la izquierda */
        left: 0em;
        bottom: 0em;
        top: 0em;
        position: relative;
        width: 100%;
        font-size: 3vw;
    }
}


/* INFORMACIÓN DEL CURSO */

/* METODOS DE PAGO */

.container {
    width: 100%;
    text-align: center;
}

.title {
    color: white;
    display: block;
    background-color: #37944b;
    text-transform: uppercase;
    height: 3em;
    margin-bottom: 10px;
    padding-top: 50px;
    font-size: 3em;
    font-family: "Montserrat", sans-serif;

}

@media screen and (max-width: 700px) {
    .title {
        font-size: 5vw;
        padding-top: 30px;

    }
}

@media screen and (max-width: 500px) {
    .title {
        font-size: 5vw;
    }
}

@media screen and (max-width: 400px) {
    .title {
        font-size: 6vw;
        padding-top: 20px;

    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}

.column {
    flex: 1;
    max-width: 300px;
    margin: 0 30px;
    background-color: #39383826;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 10px;
}


.column img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;

}

.column h2 {
    color: #333;
    font-size: 1.4em;
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 1000;
    text-transform: uppercase;

}

.column h3 {
    color: #333;
    font-size: 1.4em;
    margin-bottom: 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: 1000;
    text-transform: uppercase;

}

.column p {
    color: #333;
    font-size: 1.2em;
    line-height: 2;
    font-family: "Montserrat", sans-serif;
}

.column .precio{
    background-color: #37944b ;
    border-radius: 7px;
    margin: 10px;
    color: white;
    font-weight: 900;
}

.column .prec{ 
    background-color: #23447a ;
    border-radius: 7px;
    margin: 10px;
    color: white;
    font-weight: 900;
}

/* METODOS DE PAGO */


.pasos {
    display: flex;
    justify-content: space-between;
    margin: 40px;
}

.square {
    width: 200px;
    height: 150px;
    background-color: #2E8B57; /* Color de fondo */
    margin: 10px;
    text-align: center;
    color: white;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
}

@media screen and (max-width: 1050px) {
    .square {
        height: 200px;
        font-size: 1.6vw;
    }
}

.square:hover {
    transform: translateY(50px);
}

.square h2 {
    margin-bottom: 10px;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    padding: 10px;
}

.square p {
    color: white;
    font-weight: 800;
    padding: 10px;
}

#square1 {
    animation: changeColor 5s infinite;
}

#square2 {
    animation: changeColor 5s infinite 1s;
}

#square3 {
    animation: changeColor 5s infinite 2s;
}

#square4 {
    animation: changeColor 5s infinite 3s;
}

#square5 {
    animation: changeColor 5s infinite 4s;
}

@keyframes changeColor {
    0% { background-color: #2E8B57; } /* Verde marino */
    20% { background-color: #3CB371; } /* Verde mediano */
    40% { background-color: #2E8B57; } /* Verde marino */
    60% { background-color: #556B2F; } /* Verde oliva oscuro */
    80% { background-color: #228B22; } /* Verde bosque */
    100% { background-color: #2E8B57; } /* Verde marino */
}

@media screen and (max-width: 862px) {
    .pasos {
        flex-direction: column;
        align-items: center;
    }
    .square{
        font-size: 1.2em;
    }
}


/* REDES SOCIALES */

.sigue{
    height: 70%;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(255, 255, 255);
}

.titulo-sigue h3{
    text-transform: uppercase ;
    align-items: center;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 1000;
    font-size: 3.5vw;
    color: #37944b;
}

@media screen and (max-width: 700px) {
    .titulo-sigue h3 {
        font-size: 5vw;
    }
}

@media screen and (max-width: 500px) {
    .titulo-sigue h3 {
        font-size: 5vw;
    }
}

@media screen and (max-width: 400px) {
    .titulo-sigue h3 {
        font-size: 6vw;
    }
}

.siguenos{
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: space-between; 
    padding-left: 7vh;
    padding-right: 7vh;
    padding-bottom: 50px;
  
}

.sigue i {
    font-size: 4vw;
    transition: .1s ease;
    display: inline-block;
}

@media screen and (max-width: 700px) {
    .sigue i {
        font-size: 5vw;
    }
}

@media screen and (max-width: 500px) {
    .sigue i {
        font-size: 5vw;
    }
}

@media screen and (max-width: 400px) {
    .sigue i {
        font-size: 6vw;
    }
}



.siguenos a{
    padding: 12px;
    color: #000000;
}

.sigue .whatsapp:hover{
    background-color: #25D366;
    text-align: center;
    font-size: 20px;
    color: white;
    border-radius: 50%;
    transition: .3s ease;
}

.sigue .tiktok:hover{
        background-color: rgb(0, 0, 0);
        text-align: center;
        font-size: 20px;
        color: rgb(242, 242, 242);
        border-radius: 50%;
        padding: 10px 10px 10px 10px;
        transition: .3s ease;
    
}
    
.sigue  .instagram:hover{
        background-color: rgb(242, 9, 176);
        text-align: center;
        font-size: 20px;
        color: rgb(255, 255, 255);
        border-radius: 50%;
        padding: 10px 10px 10px 10px;
        transition: .3s ease;
 }
    
.sigue .facebook:hover{
        background-color: #3b5998;
        text-align: center;
        font-size: 20px;
        color: rgb(255, 255, 255);
        border-radius: 50%;
        padding: 10px 15px 10px 15px;
        transition: .3s ease;
 }
    
.sigue  .linkedin:hover{
        background-color: #0e76a8;
        text-align: center;
        font-size: 20px;
        color: rgb(255, 255, 255);
        border-radius: 50%;
        padding: 10px 10px 10px 10px;
        transition: .3s ease;
 }

/* REDES SOCIALES */



 /* PIE DE PAGINA */

 /* Estilos generales del footer */
 
 footer {
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color: #37944b;
}

.footer-container {
    max-width: 1200px; /* Ancho máximo del contenido del footer */
    margin: 0 auto; /* Centra el contenido horizontalmente */
}

.footer-column {
    width: 30%;
    border-right: 1px solid #fff;
    padding-right: 20px;
    box-sizing: border-box;
}

.footer-column:last-child {
    border-right: none;
}

.footer-column h6 {
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 2.2vw;
    text-align: center;
    text-transform: uppercase;

}

.footer-column img{
    width: 80%;
    height: 30%;
    display: block;
    margin: 15px auto
}

.footer-column p{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    text-align: center;
    font-size: 1.2vw;
}

.footer-column a{
    text-decoration: none;
    color: white;
    font-size: 1.2vw;
}

.footer-column a:hover{
    transition: .3s;
    font-size: 18px;
}
    

.footer-column ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.footer-column ul li {
    margin-bottom: 5px;
}

@media screen and (max-width: 700px) {
    .footer-column p{
        font-size: 2.5vw;
    }
    .footer-column a{
        font-size: 2.5vw;
    }
    .footer-column h6{
        font-size: 3.5vw;
    }
}

@media screen and (max-width: 500px) {
    .footer-column p {
        font-size: 3vw;
    }
    .footer-column a{
        font-size: 3vw;
    }
    .footer-column h6{
        font-size: 4.5vw;
    }
}

@media screen and (max-width: 400px) {
    .footer-column p{
        font-size: 3.5vw;
    }
    .footer-column a{
        font-size: 3.5vw;
    }
    .footer-column h6{
        font-size: 4.5vw;
    }
}

@media only screen and (max-width: 700px) {
    footer {
        flex-direction: column;
    }

    .footer-container {
        width: 100%;
    }

    .footer-column {
        width: 100%;
        border-right: none;
        padding-right: 0;
        margin-bottom: 20px;
    }
}

 /* PIE DE PAGINA */


 /* COPYRIGHT */
.copyright{
    display: inline-block;
    background-color: #37944b;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    border-top: 2px solid #f5f3f3; /* Define una línea sólida de color gris claro */
    padding-top: 10px; /* Ajusta el espacio superior para separar la línea del texto */
 }

.copyright p{
    text-align: center;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2vw;
}

@media screen and (max-width: 700px) {
    .copyright p {
        font-size: 2.2vw;
    }
}

@media screen and (max-width: 500px) {
    .copyright p {
        font-size: 2.9vw;
    }
}

@media screen and (max-width: 400px) {
    .copyright p {
        font-size: 2.9vw;
    }
}
 /* COPYRIGHT */
 

 /* CHAT WHATSAAP */
 .whatsapp-btn {
    position: fixed;
    bottom: 100px; /* Ajusta la posición vertical según sea necesario */
    right: 20px; /* Ajusta la posición horizontal según sea necesario */
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
    background-color: #25d366; /* Color de fondo de WhatsApp */
    color: #fff; /* Color del icono */
    width: 60px; /* Ajusta el tamaño del botón según sea necesario */
    height: 60px;
    border-radius: 50%; /* Para que el botón sea circular */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Añade sombra al botón */
    transition: all 0.3s ease; /* Transición suave */
    font-size: 3em;
    text-decoration: none;
}

.whatsapp-btn:hover {
    transform: scale(1.3); /* Efecto de agrandamiento al pasar el mouse */
}